body {
}


#list-master {
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    position: fixed;
    padding: 10px;
    background-color: #ebeeef;
}

#content {
    margin-left: 220px;
}

ul#main-nav {
    
}
    ul#main-nav li {
        line-height: 1.2em;
        border-bottom: .5px solid #c7c7c7;
    }

#content h1 {
    border-bottom: 1px solid #aed0ea;
}

#notes-container {
    
}
    #notes-container ol {
        list-style: none;
    }
    #notes-container > ol {
        list-style: none;
        padding-left: 0;
    }
    
    #notes-container input[type='text'] {
        border: 1px transparent solid;
        padding: 1px 2px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        width: 200px;
    }
    
    #notes-container input[type='text']:hover {
        border: 1px #999 solid;
    }

    #notes-container input[type='text']:focus {
        border: 1px #aed0ea solid;
    }